.header-container{
  height: 70px;
  display: flex;
  background-color: white;
  /* border: 1px solid salmon; */
  width: 100%;
  font-size: 15px;
  padding: 5px;
  padding-top: 15px;
  padding-bottom: 10px;
  position: fixed;
  justify-content: center;
  align-items: center;
  top: 0px;
  left: 0px;
  z-index: 100;
}

.header-nav {
  /* width: 970px; */
  /* border: 1px solid salmon; */
  display: flex;
  justify-content: center;
  align-items: center;
  height: 40px;
}

.header-nav .modoLogo {
  /* border: 1px solid salmon; */
  width: 90px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 20px;
  cursor: pointer; /* ← 마우스 가져다 대면 손까라가 모양으로 바뀜*/
}

.header-nav .modoLogo:active {
  position: relative;
  top:2px;
}

.header-nav .modoLogo img{
  width: 100%;
  height: 100%;
  margin-top: 4px;
}


/* 네비칸 (소모임, 멘토링, 커뮤니티, FAQ) */
.header-nav nav{
  /* border: 1px solid salmon; */
  display: flex;
  align-items: center;
  margin-right: 10px;
  cursor: pointer;
}

.header-nav nav div {
  margin: 0 15px;
}


.header-nav .search {
  width: 300px;
  /* border: 1px solid salmon; */
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 33px;
  /* margin-right: 30px; */
}

.header-nav form {
  width: 100%;
  height: 100%;
  display: flex;
  background: #f4f4f4;
  border-radius: 5px;
}

.header-nav input{
  /* ↓ 이건 앞에 들여쓰기 */
  text-indent: 15px;
  border-radius: 6px;
  background: #f4f4f4;
  border: 0;
  width: 83%;
}
/* ⭐ input -> x 버튼 커스텀하기, 돋보기는 앞으로 가게*/

.header-nav .search span{
  display: flex;
  margin: auto;
}


/* ⭐회원정보, 회원가입, 로그인, 로그아웃 */

.header-nav .nav-login, .header-nav .nav-loginTrue {
  display: flex;
  /* width: 180px; */
  align-items: center;
  /* border: 1px solid salmon; */
}

.nav-login .join, .nav-loginTrue .myPage{
  background-color: #6a60a900; 
  border: 0;
  margin: 0 18px 0 10px;
}


.nav-login .login , .nav-loginTrue .logout{
  border: 0;
  border-radius: 5px;
  background-color: #628EF3;
  padding: 0 15px;
  color: white;
  height: 36px;
  
}

.nav-login .login:hover, .nav-loginTrue .logout:hover{
  background-color: #3B3155;
  background-image: linear-gradient(to bottom right, #628EF3, #A7AABC);
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  padding: 12px 16px 10px;
  z-index: 1;
}

.dropdown:hover .dropdown-content {
  display: block;
}
