
.Add{
 border: none;
 background-color: white;
 width: 100px;
 text-align: left;
 margin-bottom: 20px;
 font-size: 15px;
 flex: 1;
}

.Qlabel{
display: flex;
width: 860px;
margin-bottom: 20px;
}

.radioBtn{
  margin-left: 20px;
}

.SOptionText{
border: 0px #ffffff;
width: 860px;
font-weight: 400;
margin-left: 15px;
}


.SOptionText:focus{
 outline: none;
 border-color: none;
 width: 860px;

}

.SOptionText:hover{
 outline: none;
 border-color: none;
 width: 860px;

}

.SOptionText:active{
 outline: none;
 width: 860px;
 border-color: none; 

}


.DeleteOption{
 background-color: #ffffff;
 border: none;
 color:  #434656;
 opacity: .4;
}

.DeleteOption:hover{
  opacity:1;
}
