.StypeText{

  display: flex;
  align-content: center;
  justify-content: center; 
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 50px;
  font-weight: 700;
}



.StypeSelect{
  display: flex;
  align-content: center;
  justify-content: center; 
  font-size: 28px;
  font-weight: 400;
  color: #434656;
}


.SListWrap{
display: flex;
align-content: center;
justify-content: center; 
margin-top: 40px;
align-items: center;
}



.Fun-Btn{
display: flex;
width: 450px;
height: 450px;
/* background-color: #628ef3; */
color: white;
margin: 30px;  
align-items: center;
justify-content: center; 
font-size: 50px;
font-weight: 500;
background-image: url('../../public/img/SS04.png');
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;
}


.Survey-Btn{
  display: flex;
  width: 450px;
  height: 450px;
  /* background-color: #434656; */
  color: white;
  margin: 30px;  
  align-items: center;
  justify-content: center; 
  font-size: 50px;
  font-weight: 500;
  background-image: url('../../public/img/SS05.png');
background-repeat: no-repeat;
background-size: cover;
cursor: pointer;
  }

  .Fun-Btn:active, .Survey-Btn:active{
    position: relative;
    top:3px;
  }