.qrHeader{
    display: flex;
 
    }
    
   
    
    .ARbox{
      align-items: center;
      justify-content: center; 
      background-image: url('../../public/img/SS09.png');
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      flex: auto ;
      height: 350px;  
      width: 465px;    
      margin-bottom: 40px;
      
  
     }
    
    
    .questionQ{
      color: white;
      font-size: 70px;      
      margin-top: 100px;
      margin-left: 300px;  
      display: flex;
      align-items: baseline;
    }
    
    
    .SQTitle{
      border: 0px solid;
      width: 1400px; 
      height: 50px;
      font-size: 30px;
      background-color: #628ef3;
      margin-left: 15px;
      color: white;
    }
     
    
    .createText{
      margin-top: 60px;
      margin-bottom: 30px;
      margin-left: 70px;
      font-weight: 200;
      font-size: 60px;
      line-height: 60px;
    }
    
    
    .CreateS{
     font-size: 65px;
    }
    
    .Asumit-btn{
      border: none;
      background: #e0e1ee;
      color: black;
      width: 120px; 
      height: 40px;
      font-size: 16px;
      text-align : center;
      line-height : 40px;
      font-weight: 400;
     
    }
    
    .Asumit-btn:hover{
      background: #cccdda;
    }
    
    
    .QGroupBox{
      display: flex;
      justify-content: center; 
      background-color: #e3e5f1;
      min-height: 100vh;
    
      }
    
    
    .QGroup{   
      margin-top: 50px;
     
    }
    
    
    .InsertBtnContainer{
      display: flex;
    }
    
    
    