.AWrap{
  background-color: #e3e5f1;
  min-height: 100vh;
padding-top: 50px;
}

.ABox{
width: 1000px;
padding: 50px;
margin-left: auto;
margin-right: auto;
background-color: white;

}

.sendedQ{
  font-size: 30px;
}

.sendedAForm{
  font-size: 30px;
}


