/* CarouselBanner.css */

.carousel-container {
  text-align: center;
  
  margin: auto;
  border: 1px red;
}

.imgBox {
  text-align: center;
  border: 1px green;
}

img {
  border: 1px blue;
  object-fit: fill;
  width: 800px;
  height: 400px;
}
