.fun_title.FB {
  text-align: center;
  justify-content:space-around;
  /* border: 1px solid red; */
}

.fun-title {
  border: 1px solid red;
  /* margin-left: 200px;
  margin-right: 200px; */
  margin-top: 20px;
  text-align: left;
}

.btn-more {
  float: right;
}

.MainSurveyBox.FB {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
   border: 1px solid red; 
}

.card-img-top{
  height: 150px;
}

.card-title{
  justify-content: first baseline;
}

.col.FB {
  text-align: center ;
  justify-content: space-around;
}

.card.FB {
  border: 1px solid #A7AABC;
  border-radius: 10px;
  padding: 5px;
  text-align: center;
  width: 350px;
  height: 400px;
  text-align: center ;
  justify-content: space-around;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 20px;
}

.LikeBtnCount {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 15px;
  width: 100%;
  padding-right: 20px;
}

.fi.fi-rr-stats.FB {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-bottom: 20px;
  width: 100%;
  padding-right: 20px;
}

.btn.submit-btn {
  background: #628EF3;
  color: #fff;
  margin-right:  10px;
}

.btn.result-btn {
border: 1px solid #628EF3;
color: #434656;
background-color: #fff;
}
